# ===================================================
# MALABAR PICKLE - CONFIGURATION ENVIRONMENT VARIABLES
# ===================================================

# 1. MongoDB Atlas Cloud Database
MONGODB_URI=mongodb+srv://dinildasc:<db_password>@cluster0.1dzg1im.mongodb.net/malabarpickle?retryWrites=true&w=majority&appName=Cluster0

# 2. Google OAuth Client ID (For Google Account Chooser Popup)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=979669399574-5khaf0tuebnfrr8ba7r4q2hbr7l500hf.apps.googleusercontent.com
